@config "../tailwind.config.ts";
@import "tailwindcss";

/* Hide the clear button in IE/Edge */
input::-ms-reveal,
input::-ms-clear {
  display: none;
}

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
